.logout {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: white;
    text-decoration: underline;
    font-size: 14px;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.chat {
    background-color: black;
}