* {
    margin:0;
    padding:0;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/assets/fonts/CascadiaCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Cascadia Code', Consolas, 'Lucida Console', monospace;
}