* {
    margin:0;
    padding:0;
}

    @font-face {
      font-family: 'CustomFont';
      src: url('/client/fonts/zai_TriumphTypewriter_b.otf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

body {
    background-color: black;
    font-family: 'Cascadia Code', Consolas, 'Lucida Console', monospace;
    
    /* background-image: url("../img/windowsbg.jpg");
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; */
}