.main-box {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    gap: 20px;
}

.top-image {
    width: 200px;
    height: auto;

}

.sign-in-input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input {
    background-color: black;
    height: 30px;
    border-radius: 10px;
    color: white;
    border-style: solid;
    border-color: #eee;
    border-width: 1.5px;
    font-family: 'Cascadia Code', monospace;
    text-align: center;
}

button {
    background-color: white;
    border-radius: 3px;
    height: 22px;
    color: black;
    border-style: solid;
    border-width: 1.5px;
    width: 60px;
    font-family: 'Cascadia Code', Consolas, 'Lucida Console', monospace;
}

button:hover {
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
}

.register {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 20px;
    text-decoration: none;
    color: white;
    text-decoration: underline;
    font-size: 14px;
}

a:hover {
    color: gray;
}

